extends base

block content 
  form(method="POST")
    input(name="name", type="text", required, placeholder="NAME")
    input(name="email", type="email", required, placeholder="EMAIL")
    input(name="username", type="text", required, placeholder="USER NAME")
    input(name="password", type="password", required, placeholder="PASSWORD")
    input(name="location", type="text", required, placeholder="LOCATION")
    input(type="submit", value="Join")

